<!-- templates / profile_view -->

<!-- This page is for viewing other users' profiles -->

<!-- templates / profiles/profile_view.html -->

{% extends "base.html" %}
{% load static %}
{% load profile_extras %}

{% block content %}

<div class="prof-cont">

    <!-- Basic Info -->
    <h2 class="pagetitle">{{ profile.user.first_name }}'s Profile</h2>

    <p>
        <a class="editprof" href="{% url 'messages:compose' %}?to={{ profile.user.username }}">
            Send {{ profile.user.username }} a Message
        </a><br />
        <a class="editprof" href="{% url 'gallery_view' profile.user.username %}">
            View {{ profile.user.username }}'s Gallery
        </a>
    </p>

    {% if user != profile.user %}
    <p>
        <a class="editprof danger-link" href="{% url 'block_user' profile.user.username %}">Block this User</a>
        &nbsp;|&nbsp;
        <a class="editprof danger-link" href="{% url 'report_user' profile.user.username %}">Report this User</a>
    </p>
    {% endif %}

    {% if profile.image %}
        <div class="profpic-wrap">
            <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s Profile Picture">
        </div>
    {% else %}
        <div class="profpic-wrap">
            <img src="{% static 'img/default-profile.png' %}" alt="Default Profile Picture">
        </div>
    {% endif %}

    <br />

    <table>
        <tr>
            <td>Username</td>
            <td>{{ profile.user.username }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ profile.location }}</td>
        </tr>
        <tr>
            <td>Gender Identity</td>
            <td>{{ profile.gender_identity }}</td>
        </tr>
        <tr>
            <td>Sexuality</td>
            <td>{{ profile.sexuality }}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{ profile.date_of_birth }}</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>{{ profile.height_feet }}' {{ profile.height_inches }}"</td>
        </tr>
        <tr>
            <td>Build</td>
            <td>{{ profile.build }}</td>
        </tr>

        <tr>
            <td>Relationship Types Seeking</td>
            <td class="rel-opts">
                {% for code in profile.relationship_types_seeking %}
                    {{ relationship_labels|get_item:code }}<br />
                {% endfor %}
                <br />
            </td>
        </tr>

        <tr>
            <td>Children</td>
            <td>{{ profile.children_status }}</td>
        </tr>
    </table>

    <br />

    <!-- Tag Cloud -->
    <div class="tag-cloud">
        <h3 class="pagetitle">{{ profile.user.first_name }}'s Tags</h3>
        <div class="tags">
            {% for tag in user_tags %}
                <span class="tag selected">{{ tag.name }}</span>
            {% empty %}
                <p>This user hasn't added any tags yet.</p>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}


