<!-- templates/gallery -->

{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="gall-cont">

    <h2 class="pagetitle">{{ user.first_name }}'s Gallery</h2>
    <br />
    <!-- Upload Form -->
    <div class="uploadbox">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="pagesub TT">Add Pictures</h2><br />{{ form.file }}
        <br />
        <button type="submit">Upload</button>
    </form>
    </div>
    <br />
    <!-- Gallery Display -->
    <p class="tinysub gallsub">Click thumbnails to view</p>
    <div class="thumb-cont">
    {% if images %}
            
            {% for image in images %}
            <div class="indv">

                <a href="{{ image.file.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ image.file.url }}" alt="Gallery Image" width="200">
                </a>

                <form method="post" action="{% url 'delete_image' image.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>

            </div>
            {% endfor %}

    {% else %}
        <p>No images uploaded yet.</p>
    {% endif %}
    </div>


</div>

{% endblock %}

