<!-- templates/landing -->

{% load static %}
<html>
<head>
    <title>TagMatch | You pick the tag, we find the match.</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=5">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}?v=5">

</head>
<body>
    <div class="hero">
        <img src="{% static 'img/logo.png' %}" alt="logo">
        <h2>You pick the tag,<br />we find the match.</h2>
        <div class="couple">
        <img src="{% static 'img/couple.png' %}" alt="couple">
        </div>
    </div>
</body>
</html>
